{% extends "header.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Edit comment</h1>
    <form action="/editcomment/{{ comment.key().id() }}" method="post">
      <div class="form-group">
        <label>Content</label>
        <textarea name="content" class="form-control">{{ comment.body }}</textarea>
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
    <a href="/newpost/{{ comment.post.key().id() }}"><button class="btn btn-danger">Back</button></a>

    <h3 style="color: red;">{{ error }}</h3>
  </div>
</div>
{% endblock %}
