{% extends "header.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Signup</h1>
    <form action="/signup" method="POST">
      <div class="form-group">
        <label>Username</label><input type="text" name="username" class="form-control">
        <label>Password</label><input type="password" name="password" class="form-control">
        <label>Verify Password</label><input type="password" name="verify" class="form-control">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
    <a href="/login"><button class="btn btn-warning">Back to login</button></a>

    <h3 style="color: red;">{{ error }}</h3>
{% endblock %}
